<!DOCTYPE html>
{% extends 'base2.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-none d-md-block">
                <div class="profile-section">
                    <div class="row mt-1">
                        <div class="col user-img text-center">
                            <img src="{% static 'polls/images/user.svg' %} " alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="customMarginTopTwo">
                                <h4 class="text-weight-bold">{{ user.username }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav flex-column sidebar-nav text-center">

                    {% for site in count %}
                    <li class="nav-item">
                        <a class="nav-link" href="/crud/Home/{{ site.site_id }} "> Site {{ site.site_id }}</a>
                    </li>
                    {% endfor %}
                    <div class="marginBottomPersonalized">
                        <img src="{% static 'polls/images/logoAziendaCliente.png' %}" alt="" width=239px height=239px>
                        <p><a href="{% url 'logout' %}">logout</a></p>
                    </div>
                </ul>

            </div>


            <div class="data-view">
                <div class="row">
                  {% for silos in siteresult %}
                    <div class="col-4">
                        <div class="card border-dark">
                            <div class="card-header">
                                <p class=text-center>{{silos.silos_code}}</p>
                            </div>
                            <div class="card-body">
                                    <div class="col" style="background-color:lightgrey;">
                                        <p class="text-center"> il livello del silos attualmente è: </p>
                                        <p class="text-center"> {{ silos.silos_value}} litri </p>
                                    </div>


                                <p class="customMarginTop">STATUS</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow=" {{ silos.silos_value }} "
                                        aria-valuemin="0" aria-valuemax="155000"></div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="graphs.html" class="a-card">
                                    <h6 class="text-center"> maggiori informazioni</h6>
                                </a>
                            </div>
                        </div>
                    </div>
              {% endfor %}
            </div>
          </div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
