<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-none d-md-block">
                <div class="profile-section">
                    <div class="row mt-1">
                        <div class="col user-img text-center">
                            <img src="img/user.svg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="customMarginTopTwo">
                                <h4 class="text-weight-bold">user_name</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav flex-column sidebar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">site_code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">site_code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">site_code</a>
                    </li>
                    <div class="marginBottomPersonalized">
                        <img src="img/logoAziendaCliente.png" alt="" width=239px height=239px>
                    </div>
                </ul>

            </div>
            <!-- Sidebar menu END -->

            <!-- Data visualization area START -->
            {% if siteresult %}

    {% for silos in siteresult %}
    <div class="data-view">
        <div class="row">
            <div class="col-2">
                <div class="card border-dark">
                    <div class="card-header">
                        {{ silos.silos_code }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ silos.silos_value }}</h5>
                    </div>
                    <div class="card-footer">
                        <a href="graphs.html" class="a-card">Maggiori informazioni</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <p>No silos are available.</p>
{% endif %}



                <!-- Data visualization area START -->
            </div>
        </div>




  <div class="fixed-bottom"><p class="float-left"><a href="{% url 'logout' %}">logout</a></p></div>
{% else %}
  <p class="float-left">You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
